<div class="container">
  <table class="table table-sm table-striped table-hover text-center">
    <thead>
      <tr class="position-sticky bg-success">
        <th scope="col" class="p-3">Nro de pedido</th>
        <th scope="col" class="p-3">Fecha de envio</th>
        <th scope="col" class="p-3">Rider</th>
        <th scope="col" class="p-3">Direccion</th>
        <th scope="col" class="p-3">CP</th>
        <th scope="col" class="p-3">Estado</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      <tr *ngFor="let data of shippingData" (click)="selectShipping(data)" data-bs-toggle="modal"
        data-bs-target="#detalleEnvio">
        <th scope="row">{{ data.nro_pedido }}</th>
        <td>{{ data.fecha_envio | date:'dd-MM-yyyy' }}</td>
        <td>{{ data.rider}}</td>
        <td>{{ data.direccion }}</td>
        <td>{{ data.codigo_postal }}</td>
        <td>{{ data.estado }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="modal fade" id="detalleEnvio" tabindex="-1" aria-labelledby="detalleEnvioModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detalleEnvioModalLabel">Detalle del envio</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-6">
              <h6 class="control-label">Nro Pedido:</h6>
              <p class="">{{ shippingDetail.nro_pedido }}</p>
            </div>
            <div class="col-6">
              <h6 class="control-label">Fecha:</h6>
              <p class="">{{shippingDetail.fecha_envio| date:'dd-MM-yyyy' }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6 class="control-label">Rider:</h6>
              <p>{{ shippingDetail.rider }}</p>
            </div>
            <div class="col">
              <h6 class="control-label">Direccion:</h6>
              <p>{{ shippingDetail.direccion }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Provincia:</h6>
              <p>{{ shippingDetail.provincia }}</p>
            </div>
            <div class="col">
              <h6>CP:</h6>
              <p>{{ shippingDetail.codigo_postal }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <h6>Estado:</h6>
              <p>{{ shippingDetail.estado }}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Devolver
        </button>
        <button type="button" class="btn btn-primary" [routerLink]="['/delivered']"
          data-bs-dismiss="modal">Entregar</button>
      </div>
    </div>
  </div>
</div>