<div class="container">
    <div class="table-responsive">
      <table class="table table-sm table-striped text-center">
        <thead>
          <tr class="bg-success">
            <th scope="col" class="p-3">Nro de pedido</th>
            <th scope="col" class="p-3">Fecha devolucion</th>
            <th scope="col" class="p-3">Rider</th>
            <th scope="col" class="p-3">Estado</th>
            <th scope="col" class="p-3">Acciones</th>
          </tr>
        </thead>
        <tbody class="table-group-divider" *ngIf="notDeliveredData">
          <tr *ngFor="let data of notDeliveredData">
            <th scope="row">{{ data.nro_pedido }}</th>
            <td>{{ data.fecha_devolucion | date:'dd-MM-yyyy' }}</td>
            <td>{{ data.rider_nombre }}</td>
            <td>{{ data.estado}}</td>
            <td>
              <!-- Botón para ver el detalle -->
              <button class="btn btn-sm btn-outline-primary" (click)="selectOrder(data)" data-bs-toggle="modal"
                data-bs-target="#detallePedido">
                <i class="bi bi-eye"></i> <!-- Ícono de Bootstrap Icons -->
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="modal fade" id="detallePedido" tabindex="-1" aria-labelledby="detallePedidoModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="detallePedidoModalLabel">PEDIDO NO ENTREGADO</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body" *ngIf="orderDetailView">
          <div class="container">
            <div class="row">
              <div class="col-6">
                <h6 class="control-label">Nro Pedido:</h6>
                <p class="">{{ orderDetailView.nro_pedido }}</p>
              </div>
              <div class="col-6">
                <h6 class="control-label">Fecha:</h6>
                <p class="">{{ orderDetailView.fecha| date:'dd-MM-yyyy' }}</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <h6>MOTIVO:</h6>
                <p>{{ orderDetailView.descripcion_entrega }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
            Volver
          </button>
        </div>
      </div>
    </div>
  </div>